@import url('https://fonts.googleapis.com/css2?family=Archivo&family=Yeseva+One&display=swap');

* {
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: black;
  position: sticky;
}

.myBG {
  height: 100vh;
  background: url(/src/assets/4243126.jpg);
  background-size: cover;
}

.intro {
  height: 350px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.title {
  font-size: 50px;
  font-weight: 800;
  line-height: 1;
  text-shadow: 2px 1px white;
  letter-spacing: 7px;
}

.trendingAnim {
  height: 100vh;
  background: url(/src/assets/4280871.jpg);
  background-size: cover;
}

.animeCover {
  height: 100vh;
  margin: 5px;
  padding: 3px;
}

.animeOnGoing {
  height: 100vh;
  margin: 5px;
  padding: 3px;
}

.images {
  height: 100%;
  width: 100%;
}

.images1 {
  height: 300px;
}

.headStyle {
  font-family: Franklin Gothic Medium;
  font-size: 50px;
  font-weight: 800;
  line-height: 1;
  text-shadow: 2px 1px white;
  letter-spacing: 4px;
}

.img1 {
  width: 900px;
  height: 500px;
  border-radius: 8px;
}

.aside {
  display: flex;
  float: left;
  width: 30%;
  border: 5px;
  background-color: black;
}

.inputIntro {
  margin-top: 5px;
  border-radius: 5px;
  box-shadow: 1px 3px 8px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 3px 8px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 3px 8px 0px rgba(0, 0, 0, 0.75);
}

#home {
  float: right;
  width: 70%;
}

#features {
  float: right;
  width: 70%;
}

.Anime {
  height: auto;
  width: auto;
  background-image: url(/src/assets/5259951.jpg); 
}