@import url('https://fonts.googleapis.com/css2?family=Archivo&family=Yeseva+One&display=swap');

* {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Archivo';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  font-family: 'Yeseva One';
  background: #4bc4f1;
  padding: 16px;
  color: rgb(12, 32, 32);
  margin-bottom: 10px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper .container {
  width: 1024px;
  border-radius: 10px;
  background-color: #f9d245;
  margin: 15px;
  padding: 15px;
  height: fit-content;
  flex-grow: 1;
}

.text-center {
  text-align: center;
  font-family: 'Yeseva One';
}

.footer {
  display: flex;
  align-items: center;
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 80px;
  color: white;
}

.footer h3 {
  margin-left: 20px;
}

.item {
  border-radius: 16px;
  margin-top: 16px;
  padding: 12px 24px 12px 24px;
  background: white;
  display: flex;
  align-items: center;
}

.item>.inner h2 {
  margin-bottom: unset;
}

.item>.inner p {
  margin-top: 5px;
}

.form {
  display: flex;
  padding: 15px;
  flex-direction: column;
  height: 300px;
  border-radius: 15px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: lighter;
}

.shadow {
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
}

input[type=text],
input[type=date] {
  font-family: 'Archivo';
  background: white;
  border: 2px solid #48137f;
  padding: 15px;
  box-sizing: border-box;
  font-size: 24px;
  margin-bottom: 8px;
  border-radius: 10px;
}

input[type=text], input[type=date] .btn-submit:focus {
  outline:none;
}

.btn-submit {
  font-family: 'Archivo';
  font-size: 24px;
  width: fit-content;
  background-color: white;
  border: 2px solid #48137f;
  padding: 12px 24px;
  margin-top: auto;
  border-radius: 15px;
  cursor: pointer;
  align-self: flex-end;
}

.btn-submit:hover {
  background-color: #48137f;
  color: white;
}

.check-button {
  width: 40px;
  height: 40px;

  background: url('../src/assets/big-check-mark.svg');
  background-size: contain;
  margin-left: auto;
  cursor: pointer;
  border: none;
}

.check-button:hover {
  background: url('../src/assets/big-check-mark.svg');
  background-size: contain;
}

.trash-button {
  width: 40px;
  height: 40px;

  background: url('../src/assets/delete.svg');
  background-size: contain;
  margin-left: 16px;
  cursor: pointer;
  border: none;
}

.trash-button:hover {
  background: url('../src/assets/delete.svg');
  background-size: contain;
}

.undo-button {
  width: 40px;
  height: 40px;

  background: url('../src/assets/undo.svg');
  background-size: contain;
  margin-left: auto;
  cursor: pointer;
  border: none;
}

.undo-button:hover {
  background: url('../src/assets/undo.svg');
  background-size: contain;
}

.check-button:focus,
.trash-button {
  outline: none;
}

@media only screen and (max-width: 1024px) {
  .wrapper {
    margin: 0;
  }

  .wrapper .container {
    width: 100%;
  }

  .list-item {
    width: 90%;
  }

  .form {
    width: 100%;
  }
}